
<!DOCTYPE html>

<html>
 <head>
  <meta charset="utf-8" />
  <title>{% block title %}Мой сайт{% endblock %}
  </title>
  <style>
      .bot {
          position: fixed;
          bottom: 0;
          padding: 5px;
          background: #9d634b;
          color: #fff;
          text-align: center;
          left: 42%;
      }
      a {
          text-decoration: none;
          
      }
  </style>
  
  
  
 </head>
 <body bgcolor="white" link="green" vlink="green">
  {% block content %}Ага{% endblock %}
  
  
  
 </body>
</html>