{% extends 'base.html' %}

{% block title %}
{{ users.username }}
{% endblock %}

{% block content %} 




<style>
    body { background-color: {{ body_theme }};

} 

TABLE {
    background-color: #f4f4f4;
    width: 50%; /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-spacing: 7px 5px; /* Расстояние между границ */
   }
   a {
       text-decoration: none;
   }
   TD {
    color: black;
    background: {{ td_theme }}; /* Цвет фона */
    border: 1px solid #333; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */ 
    width: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   }
    
button { 
background-color: {{ button_theme }}; 
border-color: black;
color: black; 
padding: 3px 5px; 
margin: 3px 0; 

cursor: pointer; 
width: 8%; 
 
 border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
} 
 
button:hover { 
opacity: 0.8; 
} 

</style>

{% if user.is_authenticated %}




<div align="right">
<a  href="{% url 'articles:index' %}">
<button  type="submit">
    
назад
</button>
</a>
</div>





<font color="#4682B4">
<table align="center" border="2" bgcolor="white" width="10%">




<tr>
<td>

ФИ: </td><td>{{users.username}} {{ users.last_name }}


</td>
</tr>

<tr>

<td>

ID: </td><td>{{users.id}}


</td>

</tr>

<tr>
    <td>
        статус:
    </td>
    <td>
        {% if users.is_staff %}
        Учитель
        {% else %}
        Ученик
        {% endif %}
    </td>
    
</tr>



</table>
</font>

<p></p>



{% if not users.is_staff %}


<hr>

<div align="center">Общее кол-во баллов: {{ sum_ball }}</div><p></p>

  <table align="center">
    <tr>
          <th>
              <h5>
                  
              {% if first %}
                  {{ first.messager }} ({{ first.ball }}) 
                  {% endif %}
                  
              {% if vist %}
              {% for i in vist %}
              
                 
             | {{ i.messager }} ({{ i.ball }}) 
              
              
              
              
              
              {% endfor %}
              {% endif %}
              </h5>
          </th>
          </tr>
      
      
  </table>

{% endif %}



{% else %}

  <p align="center">Вы не авторизованны</p>

<p align="center"><a style="color: purple" href="{% url 'articles:log_in' %}"><button id="buttonn">вход</button></a></p>

{% endif %}



{% endblock %}